[submodule "viya-backend"]
	path = viya-backend
	url = https://github.com/hrideshmg/viya-backend
[submodule "viyda-frontend-build"]
	path = viyda-frontend-build
	url = https://github.com/hrideshmg/viyda-frontend-build
